---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getMonthAndYear } from "src/utils/date";
import Button from "./ui/Button.astro";
import InfoItem from "./ui/InfoItem.astro";

interface Props extends HTMLAttributes<"div"> {
  item: CollectionEntry<"projects">;
}

const { item, ...props } = Astro.props;
---

<div class="flex flex-col gap-6 md:gap-10 fade-in-card" {...props}>
  <div
    class="md:p-10 p-6 transparent-card flex flex-col gap-6 md:gap-10 w-full"
  >
    <header class="w-full flex flex-col items-center sm:flex-row gap-2">
      <p class="flex-1 text-lg">{item.data.company}</p>

      <p class="text-secondary">
        {getMonthAndYear(item.data.startDate)} -{" "}
        {getMonthAndYear(item.data.endDate) ?? "Present"}
      </p>
    </header>
    <h2 class="md:text-4xl text-3xl text-center sm:text-start font-bold">
      {item.data.title}.
    </h2>

    <main class="flex overflow-x-auto snap-x snap-mandatory gap-4">
      {
        (
          <>
            {[item.data.coverImage, ...(item.data.additionalImages ?? [])].map(
              (img, index) => (
                <Image
                  src={img}
                  alt={item.data.title}
                  class={`w-full object-contain rounded-xl max-h-96 snap-always snap-center ${
                    index === 0 ? "md:col-span-2" : ""
                  }`}
                />
              )
            )}
          </>
        )
      }
    </main>

    <div class="flex gap-3 flex-wrap">
      {
        item.data.techStack.map((tech) => (
          <span class="px-3 text-sm py-1 border border-border rounded-full">
            {tech}
          </span>
        ))
      }
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-12">
      <div class="col-span-2">
        <InfoItem title="About" subtitle={item.data.aboutCompany ?? ""} />
      </div>
      <InfoItem title="Role" subtitle={item.data.role} />
    </div>

    {
      item.data.projectLink && (
        <div class="flex w-full">
          <a
            target="_blank"
            href={item.data.projectLink}
            class="w-full sm:w-auto"
          >
            <Button
              size="medium"
              variant="tertiary"
              class="w-full sm:w-auto min-w-[120px] border-white/20 hover:border-white/50"
            >
              Open
            </Button>
          </a>
        </div>
      )
    }
  </div>
</div>
